
.mainShell {
    height: 100vh;
    margin-left: var(--sidebar-width);
    transition: margin-left var(--transition-normal);
}

.app.sidebar-collapsed .mainShell {
    margin-left: var(--sidebar-collapsed-width);
}

.sidebar--collapsed ~ .mainShell {
    margin-left: var(--sidebar-collapsed-width) !important;
}

.mainShell {
    margin-left: var(--current-sidebar-width);
}

.mainShell,
.app.sidebar-collapsed .mainShell {
    margin-left: 0;
}

